.container{
    font-family: "SpaceGrotesk-Light";
    font-size: 17px;
}
.form-control{
    font-size: large;
}
.discount-detail{
    font-size: large;
    font-weight: 500;
    font-family: "SpaceGrotesk-Light";
}
.discount-code, .voucher{
    font-weight: 800;
    font-family: "SpaceGrotesk-Light";

}