.selected {
  background-color: #1890ff; /* Màu nền khi size được chọn */
  color: #fff; /* Màu chữ khi size được chọn */
  border-color: #1890ff; /* Màu viền khi size được chọn */
}

/* DiscountModal.css */
.discount-radio {
  font-family: "YourFontFamily", sans-serif; /* Thay đổi 'YourFontFamily' bằng font chữ bạn muốn */
}

.discount-code {
  font-size: 16px; /* Kích thước chữ */
  font-weight: bold; /* Độ đậm chữ */
}

.discount-detail {
  font-size: 12px;
  color: #555; /* Màu chữ */
}

.expiration-date {
  font-size: 12px;
  color: #a2a1a1;
}

/* làm mờ sản phẩm khi tắt trạng thái */
.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}

.out-of-stock .ant-btn {
  opacity: 1;
  pointer-events: auto;
}

.out-of-stock-text {
  color: red;
  font-size: 12px;
}

.option-images {
  display: flex;
  gap: 12px;
}

.option-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.25s linear;
}

.option-image.selected,
.option-image:hover {
  border: 1px solid #c29958;
}

.option-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* sp ngung hoat dong detail product */
.grayscale {
  filter: grayscale(100%);
}
.status-red {
  color: red;
}
.btn .btn-cart2{
  background-color: #ccc; /* Màu nền khi nút bị disable */
  cursor: not-allowed; /* Hiệu ứng chuột */
  opacity: 0.6; /* Giảm độ trong suốt */
}
