.chip-khach-le {
  background-color: #f0ffe2 !important;
  color: #389e0d !important;
  border: 1px solid #b7eb8f !important;
}

.chip-tien-mat {
  border: 1px solid orange !important;
  color: orange !important;
  background: rgb(245, 237, 222) !important;
  border-color: orange !important;
}

.chip-chuyen-khoan {
  border: 1px solid orange !important;
  color: orange !important;
  background: rgb(245, 237, 222) !important;
  border-color: orange !important;
}

.chip-hoan-tien {
  border: 1px solid green !important;
  color: green !important;
  background: rgb(222, 231, 222) !important;
  border-color: green !important;
}

.chip-da-huy {
  border: 1px solid red !important;
  color: red !important;
  background: rgb(239, 204, 204) !important;
  border-color: red !important;
}

.chip-cho-xac-nhan {
  border: 1px solid rgb(250, 239, 90) !important;
  color: gold !important;
  background: rgb(246, 243, 228) !important;
  border-color: gold !important;
}

.chip-da-xac-nhan {
  border: 1px solid orange !important;
  color: orange !important;
  background: rgb(245, 237, 222) !important;
  border-color: orange !important;
}

.chip-giao-hang {
  border: 1px solid blue !important;
  color: blue !important;
  background: rgb(223, 223, 244) !important;
  border-color: blue !important;
}

.chip-dang-van-chuyen {
  border: 1px solid #ff4500 !important;
  color: #ff4500 !important;
  background: #f6dbd2 !important;
  border-color: #ff4500 !important;
}

.chip-da-giao-hang {
  border: 1px solid #ff00ff !important;
  color: #ff00ff !important;
  background: #f5d7f5 !important;
  border-color: #ff00ff !important;
}

.chip-cho-thanh-toan {
  border: 1px solid #2f54eb !important;
  color: #2f54eb !important;
  background: #c0c9eb !important;
  border-color: #2f54eb !important;
}

.chip-thanh-toan {
  border: 1px solid blue !important;
  color: blue !important;
  background: rgb(223, 223, 244) !important;
  border-color: blue !important;
}

.chip-da-thanh-toan {
  border: 1px solid magenta !important;
  color: magenta !important;
  background: rgb(239, 201, 239) !important;
  border-color: magenta !important;
}

.chip-hoan-thanh {
  border: 1px solid rgb(23, 150, 23) !important;
  color: rgb(23, 150, 23) !important;
  background: rgb(224, 246, 224) !important;
  border-color: rgb(23, 150, 23) !important;
}
